---
variables:
  TF_MIN_VERSION: "0.15"
  AZURERM_PROVIDER_MIN_VERSION: "2.0"

include:
  - template: 'Workflows/Branch-Pipelines.gitlab-ci.yml'
  - project: 'claranet/projects/cloud/azure/terraform/ci'
    ref: update_ci
    file: '/pipeline.yml'
...
